<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body style="background-color: rgb(231, 208, 179);">
    <h1 style="color: rgb(24, 106, 200); font-weight: 700;">Welcome To Intro Page </h1>
    <h2 style="color: rgb(75, 158, 26);">Please provide us your intro by filling the form</h2>
    <h2><a href="/form">Fill the Form</a></h2>
</body>
</html>
